* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.start-nav {
    color: rgb(95, 74, 36);
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(252, 250, 247);
}

.item {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 8px;
}

.nav-img {
    width: 30px;
    height: 30px;
}

.mid-nav {
    list-style: none;
    padding: 5px;
    display: flex;
    gap: 20px;
    margin-left: 300px;
}
li a:hover{
    color: rgb(10, 10, 10);
}
li a {
    text-decoration: none;
    color: rgb(116, 98, 68);
}

.end-nav {
    margin-left: 240px;
}

/* banner section start here */
.banner-start {
    display: flex;
    background-color: rgb(247, 244, 237);
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.banner-1 {
    width: 480px;
    height: 200px;
}

.text-font {
    font-weight: bold;
    padding: 1px;
    font-size: 50px;
    color: rgb(77, 64, 44);
}

.para {
    color: rgb(116, 98, 68);
    font-size: 18px;
    font-size: thin;
    /* padding: 10px; */
}

.b-img {
    background-color: rgb(95, 74, 36);
}

.bt {
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    border: none;
    font-size: small;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: rgb(95, 74, 36);
}

.ban-img {
    margin-top: 80px;
    width: 400px;
    height: 400px;
}

/* banner end here */

/* main section start here */
.section {
    background-color: rgb(245, 241, 238);
}

.main-1 {
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.back {
    justify-content: center;
    padding: 5px;
}

.div-0 {
    border: 1px solid rgb(243, 241, 241);
    border-radius: 8px;
    padding: 24px;
    background-color: rgb(236, 234, 234);

}

/* main section-2 start here */
.div-2 {
    justify-content: center;
    display: flex;
    width: 100vw;
    margin-top: 50px;
    /* padding: 5px; */
    gap: 20px;
}

.div-main-2 {
    display: flex;
    border: none;
    margin-top: 50px;
    background-color: rgb(218, 218, 214)
}

.san {
    background-color: rgb(184, 83, 100);
    padding: 6px;
    color: white;
    border: none;
    margin: 4px;
    border-radius: 5px;
}

.imgin {
    background-color: rgb(177, 163, 163);
    border-radius: 5px;

}

.btn-2 {
    font-size: large;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: rgb(114, 95, 95);
    border: none;
    border-radius: 5px;
    border-bottom: 4px;
}

/* section-3 start here */
.had {
    color: rgb(78, 59, 45);
    font-weight: bold;
    width: 100vw;
    text-align: center;
    margin-top: 40px;
    padding: 5px;
}
.sect-3 {
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
}

/* .card{
    box-shadow: 2px 2px 2px 2px rgb(167, 137, 109);
}  */
.imgb {
    padding: 50px;
    border-radius: 5px;
    width: 100px;
    height: 120px;
    background-color: rgb(234, 235, 236);
}
.discount{
    position: absolute;
    padding: 2px;
    background-color: rgb(224, 90, 90);
    color: white;
    border-radius: 5px;
    border:none;
    margin: 8px;
}
.hide {
    font-size: large;
    margin-left: 500px;
}

.usd-1 {
    display: flex;
    margin-top: 6px;
    gap: 10px;
}

.usd {
    text-decoration: line-through;
}

/* section-4 start here happy client */
.heding {
    color: rgb(95, 74, 36);
    text-align: center;
    margin-top: 80px;

}

.happy {
    width: 100vw;
    display: flex;
    background-color: rgb(252, 248, 248);
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px; 
    align-items: center;
}

.font {
    color: rgb(250, 246, 240);
    margin-left: 80px;
    margin-bottom: 50px;
}

.p-tag {
    margin-top: 40px;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    color: rgb(100, 98, 98);
    padding: 5px;
}

/* <!-- section-5 card box --> */
.card- {
    display: flex;
    width: 100vw;
    padding: 90px;
    gap: 40px;
    justify-content: center;
    /* align-items: center; */
}

.im {
    padding: 5px;
    margin: 5px;
}

.cad {
    border-radius: 8px;
    width: 250px;
    display: flex;
    gap: 6px;
    background-color: rgb(236, 234, 228);
}